      <!--################ JAVASCRIPTS ################-->

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ site.url }}/resources/js/jquery.js"></script>
        
        <script src="{{ site.url }}/resources/js/bootstrap.js"></script>
        <script src="{{ site.url }}/resources/js/jquery.fitvids.js"></script>
        <script src="{{ site.url }}/resources/js/jquery.easing.1.3.js"></script>
        <script src="{{ site.url }}/resources/js/twitter.js"></script>
        <script src="{{ site.url }}/resources/js/stellar.js"></script>
        <script src="{{ site.url }}/resources/js/nicescroll.min.js"></script>
        <script src="{{ site.url }}/resources/js/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="{{ site.url }}/resources/js/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="{{ site.url }}/resources/js/jquery.fancybox-thumbs.js?v=1.0.2"></script>
        <script type="text/javascript" src="{{ site.url }}/resources/js/jquery.fancybox-media.js?v=1.0.0"></script>
        <script src="{{ site.url }}/resources/js/custom.js"></script>
        <script src="{{ site.url }}/resources/js/portfolio.js"></script>
        <script src="{{ site.url }}/resources/js/jquery.flexslider.js"></script>