<!--################ NAVIGATION START ################-->
<div class="navbar-wrapper" >
    <div class="navbar navbar-fixed-top" id="navigation">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <i class="fa fa-caret-down fa-2x"></i>
                </button>
                <a class="brand" href="{{ site.url }}/index.html">
                    <img src="{{ site.url }}/resources/images/logo.png" width="150" id="logokhan">
                </a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li{% if page.body_class == 'features' %} class="active"{% endif %}>
                            <a href="{{ site.url }}/features.html">What We Do</a>
                        </li>
                        <li{% if page.body_class == 'portfolio' %} class="active"{% endif %}>
                            <a href="{{ site.url }}/portfolio.html">Our Projects</a>
                        </li>
                        <li{% if page.body_class == 'blog' %} class="active"{% endif %}>
                            <a href="{{ site.url }}/blog">Blog</a>
                        </li>
                        <li{% if page.body_class == 'services' or page.body_class == 'team' or page.body_class == 'pricing' %} class="dropdown active"{% else %} class="dropdown"{% endif %}>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Specifics <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ site.url }}/services.html">Services</a></li>
                                <li><a href="{{ site.url }}/team.html">Our Team</a></li>
                                <li><a href="{{ site.url }}/pricing.html">Pricing</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.url }}/contact.php">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--################ NAVIGATION END ################-->