
                        <div class="span4">  
                            <div class="sidebar">
                                <!--<div class="widget">
                                    <h4>Search</h4>
                                    <div class="input-append">
                                        <input class="" id="appendedInputButtons" type="text">
                                        <button class="btn btn-normal" type="button">Search</button>
                                    </div>
                                </div> -->
                                <!-- <div class="widget">
                                    <h4>Polls</h4>
                                    <h5>Poll: Where do you usually browse</h5>

                                    <strong>Mac</strong><span class="pull-right">40%</span>
                                    <div class="progress progress-info active">
                                        <div class="bar" style="width: 40%;"></div>
                                    </div>
                                    <strong>iPad/iPhone</strong><span class="pull-right">10%</span>
                                    <div class="progress progress-striped active">
                                        <div class="bar" style="width: 10%;"></div>
                                    </div>
                                    <strong>Android</strong><span class="pull-right">5%</span>
                                    <div class="progress progress-success active">
                                        <div class="bar" style="width: 5%;"></div>
                                    </div>
                                    <strong>Others</strong><span class="pull-right">15%</span>
                                    <div class="progress progress-warning active">
                                        <div class="bar" style="width: 15%;"></div>
                                    </div>
                                    <p>
                                        <a href="#" class="btn btn-normal">Vote</a>
                                        <a href="#" class="pull-right">View detailed results</a>
                                    </p>



                                </div> -->

                               <!-- <div class="widget">
                                    <h4>Subscribe</h4>

                                    <form accept-charset="UTF-8" action="" method="post">

                                        <input class="span3" name="username" placeholder="Email" type="text">
                                        <br />
                                        <button class="btn btn-normal" type="submit">Subscribe</button>
                                    </form>



                                </div> -->

                                <div class="widget">
                                    <h4>About</h4>
                                    <p>JJ Web Stuff is your one stop shop for all your web related needs. If you’re a small or medium size business looking to cement your presence on the web, look no further. We’ll help you get your business on all the places that matter on the Internet. We will get you set up with a social media strategy and help you to avoid the pitfalls of the digital era. </p>
                                </div>
                            </div>
                        </div>